.parent {
    height: 100%;
    /* width: 100%; */
    overflow: hidden;
}

.lesson-reading-container {
    margin: 25px 40px;
    height: 900px;
    /* width: 100%; */
    overflow: scroll;
    padding-right: 20px;
}

.lesson-reading-container::-webkit-scrollbar {
    display: none;
}

.reading-title {
    font-weight: bold;


}

.reading-text {
    font-size: 25px;
}

.section {
    margin-top: 60px;
}

.piano-note {
    font-size: 200px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */

}

.note {
    font-size: 15px;
    font-weight: 600;
    color: rgb(158, 69, 69);
}

.reading-main-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.Black {
    color: black;

}

.Red {
    color: red;
}

.Green {
    color: green;
}

/* 
.scroll {
    overflow: scroll;
} */